*{
    margin:0;
    padding:0;
    font-family: 'Chewy', cursive;

}

hr{
  
   border-top:4px double black;
   
}


.container{
    margin:auto;
    width:960px;
    height:100%;
    
}

#container{
    text-align: center;
}


nav{
    width:100%;
    height:70px;
   
}

nav ul{
    display:inline-block;
    
}


nav ul li{
    list-style-type: none;
    text-decoration: none;
    float:right;
    padding-right: 30px;
    
}

nav ul li a{
     text-decoration: none;
}

nav ul li a:link{
    color:black;
}

nav ul li a:hover{
    color:orange;
}

h1{
   font-size: 30px; 
   display:inline-block;
   width:300px;
   padding-top:20px;

}

header{

    width:100%;
    height:600px;
    

}

header h2{
    font-size: 60px;
    padding-top:200px;
    color: #ff8533;
    line-height: 100px;
}

header p{
   
    font-size: 18px;
}


section{

    width:100%;
    height:500px;
    
}

table{
    margin-top: 150px;
    border-collapse: separate;
    
    
}

th,td{
    
    width:310px;
    height:310px;
    
}


footer{
    padding-top: 30px;
    background-color: #ff9933;
    width:100%;
    height:70px;
    text-align: center;
}

footer p{
    color: white;
}